
<div class="container hero">
    <div class="hero-text">
        <p class="black-bold-text">Empower Your 
             <span class="blue-bold-text">Future</span> With
             <span class="blue-bold-text">Globally</span> Recognized 
             <span class="blue-bold-text">Certifications</span> </p>
             <div class="hero-rings">
                <div style="opacity: 0.5; " class="small-circle small-circle-1"></div>
                <div class="small-circle small-circle-2"></div>
                <div class="text-rings rings"></div>
              
            </div>

        <p>Surus Academy offers globally recognized training with weekend courses. The latest online system and materials help your knowledge grow.</p>
        <button class="start-learning-button btn btn-primary">Start Learning Today</button>
    </div>
    <div class="hero-image-container">
        <img class="hero-image" src="../../../../assets/Designer-removebg-preview.png" alt="Student">
            <div class="hero-circles">
                <div class="big-circle"></div>
                <div class="small-circle small-circle-1"></div>
                <div class="small-circle small-circle-2"></div>
                <div class="img-rings rings"></div>
              
            </div>
        
        <div class="badge-box" style="top: 10%; left: -20%;">
            <strong>2K+</strong><br>Video Courses
        </div>
        <div class="badge-box" style="top: 40%; right: -20%;">
            <strong>5+</strong><br>Webinar
        </div>
        <div class="badge-box" style="bottom: 10%; left: -20%;">
            <strong>250+</strong><br>Tutors
        </div>
    </div>
</div>
<div class="container certifications">
    <p><i class="bi bi-kanban-fill">
    </i>Project Management | Career-Oriented | Creative Thinking</p>
    <div class="certif-img d-flex justify-content-center gap-4">
        <p class="plus-3-certifications">3+ <span class="certifications" >Certifications</span></p>
        <img src="../../../../assets/AACE.png" alt="AACE">
        <img src="../../../../assets/PMP.png" alt="PMP">
        <img src="../../../../assets/doc control img.jpg" alt="Document Control">
    </div>
</div>