<div class="container hero">


  <div class="hero-text">
      <p class="black-bold-text">Empower Your 
           <span class="blue-bold-text">Future</span> With
           <span class="blue-bold-text">Globally</span> Recognized 
           <span class="blue-bold-text">Certifications</span> </p>
           <div class="hero-rings">
              <div style="opacity: 0.5; " class="small-circle small-circle-1"></div>
              <div class="small-circle small-circle-2"></div>
              <div class="text-rings rings"></div>

          </div>

      <p class="regular-text-desc">Surus Academy offers globally recognized training with weekend courses. The latest online system and materials help your knowledge grow.</p>
      <button  [routerLink]="['/Courses']" class="start-learning-button">Start Learning Today</button>
  </div>


  <div class="hero-image-container">
      <img class="hero-image" src="../../../../assets/download-removebg-preview.png" alt="Student">
      <div class="hero-circles">
          <div class="big-circle"></div>
          <div class="small-circle small-circle-1"></div>
          <div class="small-circle small-circle-2"></div>
          <div class="img-rings rings"></div>
      </div>



      <div style="top: -10%; left: -12%;" class="badge-box" >
          <strong>2K+</strong><br>Video Courses
      </div>
      <div class="badge-box" style="top: 40%; right: -9%;">
          <strong>5+</strong><br>Webinar
      </div>
      <div class="badge-box" style="bottom: 10%; left: -10%;">
          <strong>250+</strong><br>Tutors
      </div>
  </div>
</div>
<div class=" certifications">
  <p> <svg xmlns="http://www.w3.org/2000/svg" color="#22A1D6" width="25" height="25" fill="currentColor" class="bi bi-kanban-fill" viewBox="0 0 16 16">
      <path d="M2.5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h11a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm5 2h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1m-5 1a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1zm9-1h1a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1"/>
    </svg>Project Management | <svg xmlns="http://www.w3.org/2000/svg" color="#F4876B" width="25" height="25" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
      <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
    </svg>Career-Oriented | <svg xmlns="http://www.w3.org/2000/svg" color="#B4708D" width="25" height="25" fill="currentColor" class="bi bi-lightbulb-fill" viewBox="0 0 16 16">
      <path d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13h-5a.5.5 0 0 1-.46-.302l-.761-1.77a2 2 0 0 0-.453-.618A5.98 5.98 0 0 1 2 6m3 8.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1-.5-.5"/>
    </svg>Creative Thinking</p>
  <div class="certif-img d-flex justify-content-center">
      <div class="plus-3-certifications">3+ <span class="certifications" >Certifications</span></div>
      <img src="../../../../assets/AACE.png" alt="AACE">
      <img src="../../../../assets/PMP.png" alt="PMP"  class="pmp"/>
      <img src="../../../../assets/doc control img.jpg" alt="Document Control">
  </div>
  <section style="background-color: rgb(241, 240, 240);" class="tutors-section">
    <p class="tutors-label">Explore Programs</p>
    <h2 class="section-title">Our Most Popular Class</h2>
    <p class="section-description">
      Join our renowned classes and gain invaluable knowledge that will propel your career forward.
    </p>
    <router-outlet></router-outlet>
    <div class="pagination-button">
      <!-- <div class="pagination">
        <div class="pagination-dot active"></div>
        <div class="pagination-dot"></div>
        <div class="pagination-dot"></div>
      </div> -->
      <button [routerLink]="['/Courses']"  routerLinkActive="router-link-active"  class="button">Explore All Programs</button>
  </div>
  </section>

  <section class="tutors-section">
      <p class="tutors-label">Tutors</p>
      <h2 class="section-title">Meet the Heroes</h2>
      <p class="section-description">
        Our expert instructors are here to help you achieve your learning goals.
      </p>

      <div class="tutors-container">
        <div class="tutor-card" *ngFor="let tutor of tutors">
          <img src="{{tutor.img}}" alt="{{ tutor.name }}" class="tutor-image">
          <h3 class="tutor-name">{{ tutor.name }}</h3>
          <p class="tutor-role">{{ tutor.role }}</p>
          <p class="tutor-bio">{{ tutor.bio }}</p>
          <div class="social-icons">
            <a href="{{tutor.xUrl}}" class="social-icon "><i class="fa fa-twitter"></i></a>
            <a href="{{tutor.linkdinUrl}}" class="social-icon "><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
      </div>
    </section>

</div>