/* Common Styles */
.highlight {
  color: #33a0dd;
  font-weight: bold;
}

.highlight-text {
  color: #33a0dd;
}

.heading {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

p {
  font-size: 16px;
  color: #666;
  line-height: 1.6;
  margin-top: 10px;
}

/* About Us Section */
.about-us {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  background: #ffffff;
}

.about-content {
  width: 60%;
  padding: 0 8%;
}

.btn-start {
  display: inline-block;
  padding: 12px 20px;
  background-color: #33a0dd;
  color: #fff;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
  border: none;
}

.btn-start:hover {
  opacity: 0.9;
}

.about-images {
  width: 38%;
  position: relative;
  margin-top: -80px;
}

.image-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.img-top {
  width: 280px;
  height: auto;
  border-radius: 8px;
}

.img-bottom {
  width: 300px;
  height: auto;
  border-radius: 8px;
  position: absolute;
  left: 35%;
  top: 130px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Features Section */
.features-container {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  padding: 2rem;
  background-color:  rgb(234, 234, 234);;
}

.image-section {
  flex: 1;
  display: flex;
  justify-content: center;
}

.feature-image {
  max-width: 100%;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 400px;
}

.text-section {
  flex: 1;
}


/* Benefits Section */
.benefits {
  text-align: center;
  padding: 50px 20px;
}

.benefits-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-top: 30px;
}

.benefit-card {
  background: white;
  width: 380px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.background-green {
  background: rgb(224, 246, 245);
}

.benefit-number {
  font-size: 20px;
  color: #33a0dd;
  font-weight: bold;
}

.benefit-title {
  font-size: 18px;
  font-weight: bold;
}

.benefit-description {
  font-size: 14px;
  color: #666;
}

.benefit-description a {
  color: #33a0dd;
}
@media (max-width: 979px) {
  .about-us,  .text-section {
    text-align: center;
    flex-direction: column;
  }


  .about-content , .text-section {
    width: 100%;
    padding: 0 3%;
    height: 350px;
  }
  
  .img-top, .img-bottom, .about-images, .image-section,  .feature-image{
    display: none;

  }
  .highlight {
        font-size: 5vw;
  }

  .heading, .highlight-text {
    font-size: 2.5vw;
  }
  p {
    font-size: 1.9vw;
  }
}
@media (max-width: 662px) {
  .highlight {
    font-size: 6vw;
}

.heading, .highlight-text {
font-size: 3.5vw;
}
  p {
    font-size: 2.5vw;
  }
}

