<section class="about-us">
  <div class="about-content">
    <h2 class="highlight">About Us</h2>
    <h2 class="heading"><span class="highlight-text">Surus</span> Providing The Best Opportunities To The Students Around The Globe.</h2>
    <p>
      Weekend UX is a UI/UX Design Academy in Delhi involved in User Experience and User Interface Training and Consulting. 
      It was started in 2023 and is passionate about User Interface Design, User Experience Design, and Human-Computer Interaction Design. 
      We are committed to helping students acquire knowledge and develop a deep understanding of the field through our comprehensive courses, 
      strengthening their skills for a successful future.
    </p>
    <button [routerLink]="['/Courses']" class="btn-start">Start Now →</button>
  </div>
  <div class="about-images">
    <div class="image-container">
      <img src="../../../assets/office.png" alt="Office Image" class="img-top">
      <img src="../../../assets/laptop.png" alt="Workspace Image" class="img-bottom">
    </div>
  </div>
</section>

<section class="features-container">
  <div class="image-section">
    <img src="../../../assets/design-lamps.png" alt="Colorful light bulbs" class="feature-image">
  </div>
  <div class="text-section">
    <h2 class="highlight">Features</h2>
    <h2 class="heading">We are always working to provide you the best features in all aspects.</h2>
    <p>
      At WEEKENDUX, our primary goal is to help students clarify their goals, stay consistent in their ambitions, 
      and build confidence as they progress through their learning journey.
    </p>
    <p>
      While the internet provides a wealth of information, we believe that without proper knowledge and practice, 
      it may not be enough to achieve success.
    </p>
  </div>
</section>

<section class="benefits">
  <h3 class="highlight">Our Benefits</h3>
  <h2 class="heading">By Joining Surus Academy, One Can Avail a Lot Of Benefits.</h2>
  <div class="benefits-container">
    <div class="benefit-card" *ngFor="let benefit of benefits; let i = index" [ngClass]="{'background-green': i % 2 == 0}">
      <h3 class="benefit-number">0{{ i + 1 }}</h3>
      <h4 class="benefit-title">{{ benefit.title }}</h4>
      <p class="benefit-description">{{ benefit.description }} <a href="#">Read More</a></p>
    </div>
  </div>
</section>