<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    @if (images) {
	<ngb-carousel>
		<ng-template ngbSlide>
			<div class="picsum-img-wrapper">
				<img [src]="images[0]"/>
			</div>
			<div class="carousel-caption">
				<h3>Enhance Your Skills with Our Courses</h3>
				<p>Discover our amazing courses and enhance your skills!</p>
						<a class="btn btn-primary" (click)="scrollToTarget()" role="button">Explore Courses</a>										  
			</div>
		</ng-template>
		<ng-template ngbSlide>
			<div class="picsum-img-wrapper">
				<img [src]="images[1]"/>
			</div>
			<div class="carousel-caption">
						<h3>Enhance Your Skills with Our Courses</h3>
						<p>Discover our amazing courses and enhance your skills!</p>
						<a class="btn btn-primary" (click)="scrollToTarget()" role="button">Explore Courses</a>										  
			</div>
			
		</ng-template>
		<ng-template ngbSlide>
			<div class="picsum-img-wrapper">
				<img [src]="images[2]" />
			</div>
			<div class="carousel-caption">
				<h3>Enhance Your Skills with Our Courses</h3>
				<p>Discover our amazing courses and enhance your skills!</p>
						<a class="btn btn-primary" (click)="scrollToTarget()" role="button">Explore Courses</a>										  
			</div>
		</ng-template>
	</ngb-carousel>
}
</div>
<div #targetSection>
    <div class="courses-list-header">
        
        <h1 class="courses-list-title">Our Courses</h1>
        <p class="courses-list-description">Let's join our famous Courses, the knowledge provided will definitely be useful for you.</p>
    </div>
</div>
<router-outlet></router-outlet>