/* Override Bootstrap primary color */
.btn-primary {
    background-color: #22A1D6 !important;
    border-color: #22A1D6 !important;
  }
  
  .navbar-light .navbar-nav .nav-link.active,
  .navbar-light .navbar-nav .nav-link.show,
  .navbar-light .navbar-nav .nav-link {
    color: #22A1D6 !important;
  }
  

  .bg-primary {
    background-color: #22A1D6 !important;
  }
  
  .text-primary {
    color: #22A1D6 !important;
  }

  .btn-outline-primary{
    color: #22A1D6 !important;
    border-color: #22A1D6 !important;
  }
  .btn-outline-primary:hover{
    background-color: #22A1D6 !important;
    color: white !important;
}
  
  