<footer class="my-footer text-light py-4">
  <div class="my-container">
    <div class="row">
      <!-- Logo & Text -->
      <div class="  footer-logo col-md-4">
        <img src="../../../assets/surus_logo_white.png" alt="Surus Academy" width="120">
        <p class="mt-2">Empower your future with globally recognized certifications.</p>
      </div>

      <!-- Company -->
      <div class="footer-section col-md-2">
        <h6 class="text-secondary">Company</h6>
        <ul class="list-unstyled">
          <li><a href="#" class="text-light text-decoration-none">About us</a></li>
          <li><a href="#" class="text-light text-decoration-none">Certifications</a></li>
          <li>
            <a href="#" class="text-light text-decoration-none">Blogs</a> 
            <span style="margin: 6px;" class=" badge bg-light text-dark">New</span>
          </li>
        </ul>
      </div>

      <!-- Social -->
      <div class="footer-section col-md-2">
        <h6 class="text-secondary">Social</h6>
        <ul class="list-unstyled">
          <li><a href="#" class="text-light text-decoration-none">Twitter</a></li>
          <li><a href="#" class="text-light text-decoration-none">LinkedIn</a></li>
          <li><a href="#" class="text-light text-decoration-none">YouTube</a></li>
          <li><a href="#" class="text-light text-decoration-none">Facebook</a></li>
        </ul>
      </div>

      <!-- Legal -->
      <div class="footer-section col-md-2">
        <h6 class="text-secondary">Legal</h6>
        <ul class="list-unstyled">
          <li><a href="#" class="text-light text-decoration-none">Terms</a></li>
          <li><a href="#" class="text-light text-decoration-none">Privacy</a></li>
          <li><a href="#" class="text-light text-decoration-none">Cookies</a></li>
          <li><a href="#" class="text-light text-decoration-none">Contact</a></li>
        </ul>
      </div>
    </div>

      <!-- Footer Bottom -->
      <div class=" footer-bottom row">
        <div class="all-right-reserved col-md-6">
          <p class="text-secondary">&copy; 2025. All rights reserved.</p>
        </div>
        <div class="my-icons col-md-6 text-end">
          <a href="#" class="my-icon  text-light me-2"><i class="fa fa-twitter"></i></a>
          <a href="#" class="my-icon  text-light me-2"><i class="fa fa-linkedin"></i></a>
          <a href="#" class="my-icon  text-light me-2"><i class="fa fa-facebook"></i></a>
          <a href="#" class="my-icon  text-light"><i class="fa fa-dribbble"></i></a>
        </div>
      </div>
  </div>

</footer>
