<nav class="  my-navbar navbar navbar-expand-lg bg-body-tertiary">
    <img src="../../../assets/surus logo.jpg" alt="Surus Academy Logo" class="logo">

    <div class=" container-fluid">
      <button class=" my-toggler-btn navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="my-container-fluid">
            <form class="my-serach-bar d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <li class="explore-btn nav-item dropdown">
                    <a class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Courses
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" [routerLink]="['/Courses']" routerLinkActive="router-link-active" >Courses</a></li>
                      <li><a class="dropdown-item" >Another action</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" >Something else here</a></li>
                    </ul>
                  </li>
              </form>
              <div class="my-center-navbar">
                <ul class=" navbar-nav me-auto mb-2 mb-lg-0">
                    <li class=" my-nav-item nav-item">
                      <a class="nav-link active" aria-current="page" >Home</a>
                    </li>
                    <li class=" my-nav-item nav-item">
                        <a class="nav-link" >About Us</a>
                    </li>
          
                    <li class=" my-nav-item nav-item">
                        <a class="nav-link " >Contact Us</a>
                    </li>
                    <li class="my-nav-item nav-item">
                        <a class="nav-link " >Resources</a>
                    </li>
                  </ul>
              </div>
              <button [routerLink]="['/Courses']" class=" start-learning-button btn btn-outline-success my-2 my-sm-0" type="submit">
                <span class="full-text">Start Learning Today</span>
                <span class="short-text">Start Learning</span></button>
        </div>
        

      </div>
    </div>
  </nav>