
.nabvar {
    padding: 10px 20px;   
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
 
}
.navbar-right{
    padding-right: 20px;
}

.navbar-center{

}
.navbar-center a {
    text-decoration: none;
    margin: 0 8px;
    padding: 5px 8px; 
    color: #070707;
    cursor: pointer;
    font-size: 17px;
    font-weight: 500;

}
.navbar-center .active{
    color: #42a7d5;
}

.navbar-left{
    margin : 0 2%;
    width: 40%;
    display: flex;
    
} 

.search-bar{
    display: flex;
    padding: 8px;
    width: 80%;
    
}

.search-bar input{
    border-radius: 8px;
    padding: 8px 8px;
    box-shadow: 5px 5px 5px rgba(24, 23, 23, 0.1);
    border: none;
    width: 87%;
    height: 50px;
    position: relative;
    margin-left: 15%;
}

.explore-btn{
    border: none;
    color: #5bbae3;
    background-color: #f3fffb;
    padding: 8px; 
    font-size: 18px;
   border-radius: 8px;
   width: 100px;
   display: flex;
   position: absolute;
    transform: translateX(360%);
    margin-top: 5px;
}

.search-bar .input  :focus{
    
}
.explore-btn span{
    padding:0 6px;
}

.cta-btn{
    background-color: #33a0d2;
    color: white;
    border: none;
    border-radius: 8px;
    margin: 11px 60px;
    padding: 10px;
    width: 70%;
}



.logo {
    height: 50px; /* Sets the logo height to 50px */
    margin-right: 15px; /* Adds spacing between logo and search bar */
}
