
 <nav class="navbar">
    <div class="navbar-left">
        <img src="/surus logo.jpg" alt="Surus Academy Logo" class="logo">

        <div class="search-bar">
            <input type="text" placeholder="Want to learn?">
            <button class="explore-btn">Explore  <span>▼</span></button>
        </div>
    </div>
    <div class="navbar-center">
        <a href="Home" class="active">Home</a>
        <a href="Home">About Us</a>
        <a href="Home">Contact Us</a>
        <a href="Home">Resources</a>
    </div>
    <div class="navbar-right">
        <button class="cta-btn">Start Learning Today</button>
    </div>
 </nav>