<div class="form-container">
    <div class="form-content shadow-lg p-3 mb-5 bg-white rounded">
        <div class="form-header">
            <h2>Reserve now</h2>
        </div>
        <form >
            <div class="row" >
                <div class="col">
                    <select class="form-control">
                        <option>Default select</option>
                      </select>
                </div>
                <div class="col">
                  <input class="form-control" type="text" id="fname" name="firstname" placeholder="Your name..">
                </div>
              </div>
              <div class="row">
                <div class="col">
                    <input class="form-control" type="text" id="fname" name="firstname" placeholder="Your name..">
                </div>
                <div class="col">
                  <input class="form-control" type="text" id="fname" name="firstname" placeholder="Your name..">
                </div>
              </div>
              <div class="row">
                <div class="col">
                    <input class="form-control" type="text" id="fname" name="firstname" placeholder="Your name..">
                </div>
                <div class="col">
                  <input class="form-control" type="text" id="fname" name="firstname" placeholder="Your name..">
                </div>
              </div>
              <div class="row">
                <a href="" class="btn btn-primary">Submit</a>
              </div>

        </form>

    </div>

</div>